body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-141px;
  width:3751px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1656px;
  height:938px;
}
#u4506 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:58px;
  width:1656px;
  height:938px;
  display:flex;
}
#u4506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2888px;
  height:1444px;
}
#u4507 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:1064px;
  width:2888px;
  height:1444px;
  display:flex;
}
#u4507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:632px;
}
#u4508 {
  border-width:0px;
  position:absolute;
  left:3029px;
  top:1876px;
  width:612px;
  height:632px;
  display:flex;
}
#u4508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2884px;
  height:1438px;
}
#u4509 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:2631px;
  width:2884px;
  height:1438px;
  display:flex;
}
#u4509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:576px;
}
#u4510 {
  border-width:0px;
  position:absolute;
  left:3068px;
  top:2631px;
  width:824px;
  height:576px;
  display:flex;
}
#u4510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
