body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-60px;
  width:4336px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2004px;
  height:1422px;
}
#u4455 {
  border-width:0px;
  position:absolute;
  left:1423px;
  top:85px;
  width:2004px;
  height:1422px;
  display:flex;
}
#u4455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1317px;
  height:984px;
}
#u4456 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:56px;
  width:1317px;
  height:984px;
  display:flex;
}
#u4456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:276px;
}
#u4457 {
  border-width:0px;
  position:absolute;
  left:3514px;
  top:135px;
  width:599px;
  height:276px;
  display:flex;
}
#u4457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:882px;
  height:1344px;
}
#u4458 {
  border-width:0px;
  position:absolute;
  left:3514px;
  top:460px;
  width:882px;
  height:1344px;
  display:flex;
}
#u4458 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:732px;
  height:1346px;
}
#u4459 {
  border-width:0px;
  position:absolute;
  left:1360px;
  top:1563px;
  width:732px;
  height:1346px;
  display:flex;
}
#u4459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:1298px;
}
#u4460 {
  border-width:0px;
  position:absolute;
  left:2128px;
  top:1563px;
  width:644px;
  height:1298px;
  display:flex;
}
#u4460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2035px;
  height:967px;
}
#u4461 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:3102px;
  width:2035px;
  height:967px;
  display:flex;
}
#u4461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1409px;
  height:579px;
}
#u4462 {
  border-width:0px;
  position:absolute;
  left:2450px;
  top:3102px;
  width:1409px;
  height:579px;
  display:flex;
}
#u4462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1990px;
  height:496px;
}
#u4463 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:6560px;
  width:1990px;
  height:496px;
  display:flex;
}
#u4463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4464 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:7106px;
  width:300px;
  height:15px;
  display:flex;
}
#u4464 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u4465 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:7063px;
  width:62px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u4465 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4465_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:919px;
  height:618px;
}
#u4466 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:7186px;
  width:919px;
  height:618px;
  display:flex;
}
#u4466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4467 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:7159px;
  width:138px;
  height:15px;
  display:flex;
}
#u4467 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4467_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u4468 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:7130px;
  width:37px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u4468 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4468_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
