body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-122px;
  width:1779px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:914px;
}
#u4446 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:47px;
  width:1350px;
  height:914px;
  display:flex;
}
#u4446 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:259px;
}
#u4447 {
  border-width:0px;
  position:absolute;
  left:1562px;
  top:47px;
  width:312px;
  height:259px;
  display:flex;
}
#u4447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1373px;
  height:768px;
}
#u4448 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:1027px;
  width:1373px;
  height:768px;
  display:flex;
}
#u4448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:355px;
}
#u4449 {
  border-width:0px;
  position:absolute;
  left:1535px;
  top:352px;
  width:366px;
  height:355px;
  display:flex;
}
#u4449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
