body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-66px;
  width:1382px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:725px;
}
#u4452 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:39px;
  width:1382px;
  height:725px;
  display:flex;
}
#u4452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1329px;
  height:828px;
}
#u4453 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:824px;
  width:1329px;
  height:828px;
  display:flex;
}
#u4453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1274px;
  height:638px;
}
#u4454 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:1706px;
  width:1274px;
  height:638px;
  display:flex;
}
#u4454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
